@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-rationale: 'Rationale', sans-serif;
    --color-green: #3ad66b;
    --color-black: #444;
    --color-red: #ed645f;
    --color-blue: #3ab2d6;
    --color-orange: #ed9e3e;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('./images/background.png');
    background-size: cover;
}

main {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.container {
    background-color: #fcf5f5;
    position: relative;
    border: solid 2px #444;
    border-radius: 15px;
    box-shadow: -1px 1px 5px #444;
    height: 500px;
    transition: .2s all;
    min-width: 250px;
}

.title {
    display: flex;
    gap: 10px;
    cursor: default;
    position: absolute;
    left: 24%;
    top: 3%;
    font-size: clamp(8px, 5vw, 14px);
    user-select: none;
}

.title strong {
    font-weight: 600;
    font-family: var(--font-rationale);
}

.title a {
    text-decoration: none;
    color: var(--color-black);
}

.title a:hover {
    color: green;
}

.display-container {
    background-color: #444;
    width: 90%;
    height: 20%;
    position: absolute;
    left: 5%;
    top: 9%;
    border-radius: 12px;
    transition: .2s all;
    display: flex;
    align-items: center;
    justify-content: center ;
}

.display-content {
    background-color: #83fca2;
    width: 90%;
    height: 80%;
    border-radius: 2px;
    text-align: end;
}

#exibir {
    overflow: hidden;
    font-family: var(--font-rationale);
    margin: 5px 10px;
    font-size: 60px;
    display: none;
}

#exibir::after {
    content: '|';
    animation: pisca 1s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.keyboard {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 69%;
    padding: 6%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    transition: .2s all;
}

.btn {
    min-width: 30px;
    border-radius: 5px;
    border: solid 1px #444;
    box-shadow: 1px 1px 0 #666, 2px 1px 0 #555;
    user-select: none;
    cursor: pointer;
    font-weight: 600;
}

.btn:active {
    box-shadow: 1px -1px 0 #444;
}

#powerOff {
    background-color: var(--color-red);
    color: #fff;
}

#on-c {
    background-color: var(--color-green);
    color: #fff;
}

#backspace {
    background-color: #666;
    color: #fff;
}

.operator {
    background-color: var(--color-blue);
    color: #fff;
}

#result-btn {
    background-color: var(--color-blue);
    color: #fff;
    grid-row: span 2;
}

.memory {
    background-color: var(--color-orange);
    color: #fff;
}

.number {
    color: #4b74db;
}

.extra {
    background-color: #ebeaea;
}

@media  (max-width: 350px) {
    .container {
        height: 400px;
    }
    .title {
        font-size: 12px;
    }
    .display {
        height: 18%;
    }
    #exibir {
        font-size: 45px;
    }
    .keyboard {
        top: 28%;
    }
    .btn {
        font-size: 11px;
    }
}

