@import url('https://fonts.googleapis.com/css2?family=Rationale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rationale&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-roboto: 'Roboto', sans-serif;
    --font-rationale: 'Rationale', sans-serif;
    --color-green: #3ad66b;
    --color-black: #444;
    --color-red: #ed645f;
    --color-blue: #3ab2d6;
    --color-orange: #ed9e3e;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('./images/numbers_background.png');
    background-size: cover;
}

main {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
}

.container {
    background-color: #fcf5f5;
    position: relative;
    border: solid 2px #444;
    border-radius: 15px;
    box-shadow: -1px 1px 5px #444;
    height: 500px;
    transition: .2s all;
    min-width: 250px;
}

.title {
    display: flex;
    gap: 10px;
    cursor: default;
    position: absolute;
    left: 24%;
    top: 3%;
    font-size: clamp(8px, 5vw, 14px);
}

.title strong {
    font-weight: 600;
    font-family: var(--font-rationale);
}

.title a {
    text-decoration: none;
    color: var(--color-black);
}

.display {
    background-color: #444;
    width: 90%;
    height: 20%;
    position: absolute;
    left: 5%;
    top: 9%;
    border-radius: 12px;
    transition: .2s all;
}

.display_numbers {
    background-color: #83fca2;
    position: absolute;
    width: 90%;
    height: 80%;
    border-radius: 2px;
    left: 5%;
    top: 10%;
    text-align: end;
    overflow: hidden;
}

.display_numbers p {
    font-family: var(--font-rationale);
    padding-right: 10px;
    padding-top: 5px;
    font-size: clamp(30px, 16vw, 65px);
}

.keyboardKeys {
    font-family: var(--font-roboto);
    position: absolute;
    top: 34%;
    left: 6%;
    width: 88%;
    height: 60%;
    font-weight: 600;
    transition: .2s all;
}

.keyboardColumns {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: .3s all;
}

.keyboardColumns li {
    list-style: none;
    display: flex;
    justify-content: center;
}

.column {
    display: grid;
    grid-gap: 15px;
    width: 90%;
}

.btn {
    min-width: 30px;
    border-radius: 5px;
    border: solid 1px #444;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 0 #666, 2px 1px 0 #555;
}

.column_5 {
    grid-template-rows: repeat(3, 1fr) 2.3fr;
}

.powerOff {
    background-color: var(--color-red);
    color: #fff;
}

.powerOn, .clearDisplay {
    background-color: var(--color-green);
    color: #fff;
}

.operator {
    background-color: var(--color-blue);
    color: #fff;
}

.memory {
    background-color: var(--color-orange);
    color: #fff;
}

.number_btn {
    background-color: #eeee;
    color: #4b74db;
}

.operatorExtra {
    background-color: #e3e3e3;
    color: black;
}

.btn:active {
    box-shadow: 1px -1px 0 #444;
}

@media  (max-width: 350px) {
    .container {
        height: 400px;
    }
    .title {
        font-size: 12px;
    }
    .display {
        height: 18%;
    }
    .keyboardKeys {
        top: 32%;
        font-size: 12px;
    }
}